extends ../templates/layout

block content
    h3.center-align #{title}
    br
    table.highlight.centered
        if user
            thead
                tr
                    th(scope='col') Foto Hewan
                    th(scope='col') Jenis
                    th(scope='col') Umur
                    th(scope='col') Berat
                    th(scope='col') Didonasikan ke
                    th(scope='col') Konfirmasi
            tbody
                each donation in donations
                    tr
                        td
                            img.responsive-img.materialboxed.smallImages(src="/hewan/"+donation.imagePath)
                        td= donation.jenis
                        td= donation.umur
                        td= donation.berat
                        td
                            a(href=`/mosques/${donation.mosqueId}`) Detil masjid
                        if donation.proofId !== null
                            td
                                a.waves-effect.waves-light(href=`/users/${donation.userId}/donations/${donation.id}`) Lihat Bukti
                                    i.tiny.material-icons open_in_new
                        else
                            td Belum terkonfirmasi
    br